<!-- About Us Content section -->
<% if (title == "About Me") { %> 
    <div class="container">
        <div class=" text-center">
            <h1><%= title %></h1>
            <hr class="intro-divider">
            <!-- start about me  -->
             <a><img src="/Assets\images/LOGO_SP.png"  height = "300" width = "300" ></a>
            <!-- <h1 class="anima mx-auto d-block" ><strong>Hi there,</strong></h1>
            <h1 class="anima mx-auto d-block" ><strong>I'm Sorada Prathan</strong></h1> -->
            <!--<div class="row h-100">

                <div class="col-8 my-auto">
                    <div class=" card text-white text-lg-left bg-dark mb-3" style="max-width: 58rem;max-height: 58rem;margin-top: auto; margin-bottom: auto; margin-right: auto;margin-left: auto;">
                      
                        <div class="card-body">
                          <h5 class="card-title">You can called me IDA</h5>
                          <p class="card-text">I'm a software engineer based in Toronto, Canada. Who experienced in taking fullstack application from scratch to production.
                            I'm currently attending Centennial College, Toronto, Canada as a Software Engineering student. I'm currently available for new projects and jobs.
                          </p>
                          
                        </div>
                    </div>
                </div>


                <div class="col-lg-4 my-auto">
                    <div class="card border-light mb-3" style="max-width: 38rem;margin-top: auto; margin-bottom: auto; margin-right: auto;margin-left: auto;">
                        <div class="card-header"><h2>SKILLS</h2></div>
                        <div class="card-body">
                            
                          <h5 class="card-title">Light card title</h5>
                        <div class="well well-lg">
                            <div class="d-inline p-2 bg-transparent text-white"> 
                                <img src="https://res.cloudinary.com/miljan/image/upload/v1476644121/web/sublime_text_zeyepv.png" title="Sublime Text" alt="Sublime Text">
                                <img src="https://res.cloudinary.com/miljan/image/upload/v1476644119/web/atom_y5fqhk.png" title="Atom" alt="Atom">
                                <img src="https://res.cloudinary.com/miljan/image/upload/v1476644120/web/photoshop_yejux1.png" title="Photoshop" alt="Photoshop">
                            </div>
                        </div>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                    </div>
                  

            </div> -->
            <div class="col-lg-12">
                <p style="text-indent: 2em; font-size: 175%;"> Hi there, I’m Sorada.
                    <br/>I'm a Java Developer based in Toronto, Canada. Who experienced in taking fullstack application from scratch to production.
                    I'm currently attending Centennial College, Toronto, Canada as a Software Engineering student. <br/>
                    I'm currently available for new projects and jobs.
       </p>
                    <p class="lead">Check out my <a href="https://osterbergmarcus.github.io">blog</a> where I share my experience and insights from the journey of becoming a better developer.</p>
            </div>

            
       

            <!-- End about me -->


        </div>
    </div>
    
<% } %> 