 <!-- Home Content section -->
 <% if (title == "Home") { %>  
    <h1 class="text-center mb-4">Welcome to the <%= title %> page</h1>
    <img src="/Assets\images/my_picture.png" class="rounded-circle mx-auto d-block mb-4"  height = "300" width = "300" alt="Cinque Terre">
    <h1 class="anima mx-auto d-block" ><strong>Sorada Prathan</strong></h1>
    <figure class="text-center">
      <blockquote class="blockquote mb-4">
        <p class="fst-italic">
          Life is a journey that must be travelled no matter how bad the roads
          and accomodations.
        </p>
      </blockquote>
      <figcaption class="blockquote-footer">
        by <cite title="Source Title">Oliver Goldsmith</cite>
      </figcaption>
    </figure>
    <% } %> 
  <!-- </div> -->